.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px rgb(212, 210, 210);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
}


.right-nav {
    display: flex;
}

.cart {
    margin-left: 15px;
    cursor: pointer;
}

.cart-num {
    background-color: black;
    padding: 5px;
    border-radius: 100%;
    width: 20px;
    color: #fff;
    text-align: center;
    /* margin-bottom: 20px; */
}

@media(max-width: 768px) {
    .logo {
        display: none;
    }
}